@import url('./assets/css/sonivore-style.css');
@import url('./elements/carousel-01/style.css');

* {
  font-family: 'Montserrat', 'Saira Stencil One', sans-serif;
  line-height: 0.5f;
}

html {
  background-color: var(--sonivore-black-500);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
}

a {
  text-decoration: none;
  color: var(--sonivore-blue-500);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
  color: var(--sonivore-black-400);
  font-size: 1rem;
}

header {
  /* fixed header to top of screen */
  position: fixed;
  top: 0;
  left: 0;

  /* padding and sizing */
  padding: 25px;
  width: 100%;
  height: 50px;

  /* display and alignment */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* z-index to keep on top of other elements */
  z-index: 1000;

  /* colors */
  color: var(--sonivore-black-100);
  background-color: var(--sonivore-black-500);
}

header h2 {
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 50px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

body {
  margin: 15px;
  height: 100vh;
}

footer {
  z-index: 1000;

  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
}

.innerbody {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;

  align-items: center;
  justify-self: center;
  justify-content: center;

  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /* for smooth scrolling on iOS */
  white-space: nowrap;

  /* Prevent line break inside flex container */
  padding: 5px;

  transition: all 0.5s ease;

  min-height: 50vh;
}

.centered-square {
  aspect-ratio: 1/1;

  margin-left: 25%;
  max-width: 50%;
}

.column {
  display: block;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.border0 {
  border: 2px solid var(--magenta-600);
  border-radius: 25px 0px 25px 0px;
}

/* -- Desktop -- */
@media (min-width: 600px) {
  .square {
    aspect-ratio: 1/1;
  }

}

/* -- Mobile -- */
@media (max-width: 599px) {}